[submodule "dwarves"]
	path = dwarves
	url = https://github.com/acmel/dwarves.git
[submodule "varcommon"]
	path = varcommon
	url = git@gitlab2.pekauto.com:development/firmware/libs/stplotvarcommon.git
